@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap%27);
div.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    margin-top: 30vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a,
li {
    list-style: none;
    color: grey;
}

.scrolling {
    scroll-snap-type: y proximity;
    -ms-scroll-snap-type: y proximity;
}

.scrolling[_ngcontent-owv-c52] {
    scroll-snap-type: y proximity;
    -ms-scroll-snap-type: y proximity;
}