node_modules/
_PlayMoon-Frontend/node_modules
/node_modules
*/node_modules
*/.env
_PlayMoon-Backend/environment/.env
*/environment/.env
Main/_PlayMoon-Backend/environment/.env
Main/_PlayMoon-Backend/environment/.env
Main/_PlayMoon-Backend/environment/secrets/cert.pem
Main/_PlayMoon-Backend/environment/secrets/privkey.pem
Main/_PlayMoon-Frontend/dist
