<section class="scrolling-child main-content">
    <div class="forum-content">
        <div class="posts">
            <div class="post-catagory information">
                <div class="head">
                    <div class="catagory-title">
                        <p>Informationen</p>
                    </div>
                    <div class="catagory-description">
                        <p>Alle möglichen Informationen rund um den Server</p>
                    </div>
                </div>
                <div class="subcatagories">
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-catagory general">
                <div class="head">
                    <div class="catagory-title">
                        <p>Allgemein</p>
                    </div>
                    <div class="catagory-description">
                        <p>Allgemeine beiträge über den Server</p>
                    </div>
                </div>
                <div class="subcatagories">
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-catagory community">
                <div class="head">
                    <div class="catagory-title">
                        <p>Community</p>
                    </div>
                    <div class="catagory-description">
                        <p>Beiträge der Server-Community</p>
                    </div>
                </div>
                <div class="subcatagories">
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                    <div class="subcatagory">
                        <div class="item">
                            <div class="item-img"><img src="../../../assets/images/chat-icon.png" alt="">
                                <p>Beitrag1</p>
                            </div>
                        </div>
                        <div class="item btn">
                            <p>Beiträge: 0</p>
                        </div>
                        <div class="item btn">
                            <p>Themen: 0</p>
                        </div>
                        <div class="item">
                            <p>Neuster Beitrag Titel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
        </div>
    </div>
</section>