@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    background-attachment: fixed;
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

a:focus,
a:visited,
a:active {
    outline: none;
}

.challenges .bg {
    background-image: url(./assets/images/challenges.jpg);
    background-size: cover;
}

.rounded-btn {
    background: white;
    color: black;
    border-radius: 20px;
    height: 5.5vh;
    padding: 0 20px;
    box-shadow: 0 0 10px 0 black;
}

.link {}