@import url(../app.component.scss);
.scrolling {
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
}

.scrolling-child {
    height: 60vh;
    margin-top: unset;
}

main.scrolling-child {
    height: 40vh;
}

main .slogan {
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(72vh - 30vh);
}

main .slogan h1 {
    text-align: center;
    font-size: 55px;
    text-shadow: 5px 5px black;
}

main .slogan p {
    text-align: center;
    font-size: 32px;
    text-shadow: 5px 5px black;
}

section {
    width: 100vw;
    height: unset;
    display: flex;
    justify-content: center;
}

.bg {
    background: rgba(115, 115, 115, .4);
    color: white;
    width: 90vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 33vh;
}

.challenges .bg {
    background-image: url(../../assets/images/challenges.jpg);
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.content h1 {
    font-size: 36px;
    text-shadow: 4px 4px black;
    transition: transform ease-in-out .3s;
}

.challenges .content p {
    text-align: center;
    max-width: 70%;
    transition: transform ease-in-out .3s;
}

.content:hover .animationSizeBig,
.content:hover .animationSizeMedium {
    transform: scale(1.2);
}

@media (max-width: 1080px) {
    h1.animationSizeBig {
        font-size: 30px;
        margin: 0;
    }
    .animationSizeMedium {
        font-size: 17px;
        margin: 0;
    }
    #title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #slogan {
        margin: 0;
        font-size: 30px;
    }
    .bg {
        margin-top: 22vh;
    }
}