<main class="scrolling-child">
    <h1 class="slogan">
        <div class="top">
            <h1 id="title">PlayMoon.de</h1>
        </div>
        <div class="bottom">
            <p id="slogan">Springe um den Mond <br> bis zum Ende.</p>
        </div>
    </h1>
</main>
<section class="challenges scrolling-child">
    <div class="bg">
        <div class="content">
            <h1 class="animationSizeBig">CHALLENGES</h1>
            <p class="animationSizeMedium">
                Spiele Minecraft alleine oder mit deinen Freunden durch und hab viel Spaß. Aber <b>ACHTUNG</b>: Du kannst auch nach Belieben Challenges aktivieren! Und noch dabei kannst du deinen Server nach eigenen Wünschen einstellen. Bei Challenges-Vorschläge
                kannst du dich gerne bei uns im Discord melden und ein Ticket schreiben 😀
            </p>
        </div>
    </div>
</section>